/allure-results/1b41dd2e-7b24-4815-8a5d-bf8f9cfab6c6-result.json
/allure-results/1e4cadff-6aa9-4c1c-b397-0c91a2e3d36a-container.json
/allure-results/4bb41369-621a-4621-967e-df1fe8ef0a95-result.json
/allure-results/7d3b6563-fbbb-4e9a-b55d-6448557685a2-container.json
/allure-results/08a14ef7-6cc6-4b4b-b437-74149ab888cb-container.json
/allure-results/9cb67933-20b6-488c-807f-5a8f95fb5fc2-container.json
/allure-results/18809ba5-f084-4b88-8693-5538aa586446-container.json
/allure-results/097377fb-dfb2-48ca-9d38-f5da3d12f02c-result.json
/allure-results/8202557d-c04f-43c6-b3a3-af03f135f8a6-result.json
/allure-results/b27434a9-2a6f-4628-a699-d298e936567a-container.json
/allure-results/bd168bb6-bbb6-426e-87a3-e4c6e5a209c9-container.json
/allure-results/c1761e30-65e2-48fe-9604-a251d2af9d5d-container.json
/allure-results/e9393501-a59d-4e6b-b26e-89f79521316b-result.json
/allure-results/ed442492-4637-4f0b-a9ed-5f3b7ba922b1-result.json
/build/reports/tests/test/packages/featureTest.html
/build/reports/tests/test/classes/featureTest.ParameterTest.html
/build/classes/java/test/featureTest/ParameterTest.class
/.gradle/7.4/fileHashes/resourceHashesCache.bin
/build/test-results/test/TEST-featureTest.ParameterTest.xml
